@import url('base/reset.css');
@import url('components/navigation.css');
@import url('sections/hero.css');
@import url('sections/carousel-categories.css');
@import url('sections/featured-product.css');
@import url('sections/related-products.css');
@import url('components/whatsapp.css');