@import url('../../../css/base/reset.css');
@import url('./components/navbar-catalog.css');
@import url('./components/catalog.css');
@import url('./components/catalog-mobile.css');
@import url('./components/modal.css');
@import url('../../../css/components/footer.css');
@import url('../css/components/whatsapp.css');